/*
 * TODO: Overlay container should have rounded corners
 */

.event-detail-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
}
@media (min-width: 50rem) {
    .event-detail-overlay {
        height: 12rem;
        width: 100%;
        top: auto;
        padding-bottom: 0;
    }
}
.event-detail-overlay__container {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 0.25rem 0 #666;
    border: 1px solid #666;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
    overflow: auto;
}

.event-detail-overlay__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}
.event-detail-overlay__close::-moz-focus-inner {
    border: 0;
}
.event-detail-overlay__close::after {
    content: 'X';
    font-size: 1rem;
    font-weight: bold;
}
.event-detail-overlay__close:hover,
.event-detail-overlay__close:focus,
.event-detail-overlay__close:active {
    outline: none;
}
.event-detail-overlay__close:hover::after,
.event-detail-overlay__close:focus::after,
.event-detail-overlay__close:active::after {
    text-shadow: 0 0 0.25rem #51b1e0;
}

.event-detail-overlay__color {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: sub;
    margin-left: 0.5rem;

    /*
     * TODO: Figure out how label color can match the event color instead of
     * always being black
     */
    background-color: #000;
}
