/*
 * TODO: Time slot events should have rounded corners
 * TODO: Past events should display faded-out
 */
.time-slot-event {
    display: block;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.time-slot-event::-moz-focus-inner {
  border: 0;
}
.time-slot-event:hover,
.time-slot-event:focus,
.time-slot-event:active {
    outline: 0;
    box-shadow: 0 0 0.25rem 0 #51b1e0;
    border-color: #000;
}
.time-slot-event--sky {
    background-color: #d1e8f0;
    border-color: #307992;
}
.time-slot-event--canary {
    background-color: #fcf69a;
    border-color: #938a04;
}
.time-slot-event--rose {
    background-color: #fcbbd2;
    border-color: #b00843;
}
.time-slot-event--shamrock {
    background-color: #009e60;
    border-color: #003800;
}
